.login-container {
  min-height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
}

.login-card {
  width: 100%;
  max-width: 420px;

  background: white;

  padding: 2.5rem;

  border-radius: 20px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);

  animation: fadeIn 0.4s ease;
}

.login-title {
  text-align: center;

  font-size: 2rem;

  margin-bottom: 2rem;

  color: #111827;
}

.login-form {
  display: flex;
  flex-direction: column;

  gap: 1.2rem;
}

.login-input {
  padding: 14px 16px;

  border: 1px solid #d1d5db;

  border-radius: 12px;

  font-size: 1rem;

  outline: none;

  transition: 0.3s;
}

.login-input:focus {
  border-color: #111827;

  box-shadow: 0 0 0 3px rgba(17, 24, 39, 0.1);
}

.login-btn {
  border: none;

  padding: 14px;

  border-radius: 12px;

  background: #111827;

  color: white;

  font-size: 1rem;

  cursor: pointer;

  transition: 0.3s;
}

.login-btn:hover {
  background: #000;

  transform: translateY(-2px);
}

.register-text {
  margin-top: 1.5rem;

  text-align: center;

  color: #555;
}

.register-link {
  color: #111827;

  font-weight: 600;

  cursor: pointer;

  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-btn:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.loader {
  width: 18px;
  height: 18px;
  border: 3px solid white;
  border-top: 3px solid transparent;
  border-radius: 50%;
  display: inline-block;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}